/* palette: */
/* #2f2f2f - text */
/* #369392 - links */
/* #4f86c6 - ?? */
/* #4fb0c6 - highlights */
/* #ffffff - background */

html {
    font-size: 100%
    background-color: #ffffff;
    color: #2f2f2f;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    line-height: 1.5;
    font-size: 1em;
}

a {
    color: #379392;
}

a.post-link {
    color: #379392;
    font-weight: bold;
    text-decoration: none;
}

a.post-link:hover {
    text-decoration: underline;
}


#header {
    font-weight: bold;
    font-size: 1em;
    padding: 5px 10px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 18px;
}

a#main-link {
    color: #333;
    text-decoration: none;
    padding: 0;
}

#header span.headerlinks {
    margin-left: 1em;
}

#header span a {
    text-decoration: none;
    padding: 0 0.4em 0.4em;
}

div#footer {
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

pre {
    background: #f2f2f2;
    border: 1px solid #dddddd;
    border-radius: 0.5em;
    padding: 1em;
}

code {
    background: #f2f2f2;
    border: 1px solid #dddddd;
    border-radius: 0.25em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    white-space: pre-wrap;
}

pre > code {
  padding-left: 0;
  border: none;
  border-radius: none;
}

div#wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    max-width: 900px;
}

section {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

article {
    border-bottom: 1px solid #2f2f2f;
    word-wrap: break-word;
}

ul li {
    margin-bottom: 2px;
}

.tags {
    margin-right: 0.25em;
}

.tag {
    background-color: #fffcd7;
    border: 1px solid #d5d458;
    border-radius: 5px;
    color: #555;
    font-size: 0.65em;
    margin-left: 0.5em;
    padding: 0.1em 0.4em 0.1em 0.4em;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

ol.posts {
    padding: 0;
    list-style: none;
    margin: 0;
}

ol.posts li:first-child.post {
    padding-top: 0.5em;
}

ol.posts li.post {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

li.post {
    clear: both;
    width: 100%;
}

div.post-date {
    color: #888;
    font-size: 0.75em;
}

@media screen and (max-width: 403px) {  

}

@media only screen and (max-width: 480px) {
    .large {
        font-size: 2em;
    }

    div#header {
        margin: 0;
        padding: 8px 5px;
        background-color: #eee;
        border-bottom: 1px solid #ccc;
    }

    ol.posts li.post {
        padding-top: 0.5em;
        padding-bottom: 0.75em;
        border-bottom: 1px solid #e0e0e0;
        display: table;
        font-size: 1.15em;
    }


    div.post-date {
        color: #888;
        font-size: 1em;
    }
}
