<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mchaver - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="/" id="main-link">mchaver</a>
        <span class="headerlinks">
          <a href="/">blog</a></li>
          <span> | </span>
          <a href="/archive.html">archive</a>
          <span> | </span>
          <a href="/demos.html">demos</a>
          <span> | </span>
          <a href="/about.html">about</a>
        </span>
      </div>
      
      <section>
        <article id="content">
          <h1>$title$</h1>
          $body$
        </article>
      </section>

      <div id="footer">
      </div>
    </div>
  </body>
</html>
