<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mchaver - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
  </head>
  <body>
    <div id="header">
      <ul>
        <li id="logo">
          <a href="/">mchaver</a>
        </li>
        <li><a href="/">blog</a></li>
        <li> | </li>
        <li><a href="/archive.html">archive</a></li>
        <li> | </li>
        <li><a href="/demos.html">demos</a></li>
        <li> | </li>
        <li><a href="/about.html">about</a></li>
      </ul>
    </div>
    
    <section>
      <article id="content">
        <h1>$title$</h1>
        $body$
      </article>
    </section>

    <div id="footer">
    </div>
  </body>
</html>
