<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mchaver - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/">mchaver</a>
      </div>
    </div>
    
    <nav id="navigation">
      <a href="/">Home</a>
      <a href="/about.html">About</a>
      <a href="/contact.html">Contact</a>
      <a href="/archive.html">Archive</a>          
    </nav>
    
    <section>
      <article id="content">
        <h1>$title$</h1>
        $body$
      </article>
    </section>

    <div id="footer">
    </div>
  </body>
</html>
